Package: nipovpn
Version: 0.1
Maintainer: Morteza Bashsiz
Architecture: amd64
Description: Powerfull and Secure http/s Proxy
Depends: libyaml-cpp0.7
Homepage: https://github.com/MortezaBashsiz/nipovpn
